Repository mbaxszy7/Mnemora: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["prettier --write", "eslint --fix --max-warnings 0"],
  "*.{css,json}": ["prettier --write"]
}

fix(release): correct nightly channel/version and windows setup assets
  .github/workflows/nightly.yml
  electron/services/app-update-service.test.ts
  electron/services/app-update-service.ts
Due: prettier --write, eslint --fix --max-warnings 0

docs(readme): add macOS Gatekeeper install notes for stable and nightly
  README.md
Due: none

docs(readme): add sudo for macOS quarantine removal commands
  README.md
Due: none

fix(mac): separate nightly app identity and title
  electron/main.ts
  forge.config.cjs
  src/components/core/TitleBar.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix(db): auto-recover sqlite corruption for OCR pipeline
  electron/database/index.ts
  electron/services/screenshot-processing/schedulers/ocr-scheduler.test.ts
  electron/services/screenshot-processing/schedulers/ocr-scheduler.ts
Due: prettier --write, eslint --fix --max-warnings 0

feat(fts5): implement FTS5 self-healing with splash progress and degraded mode
  electron/database/index.ts
  electron/electron-env.d.ts
  electron/main.ts
  electron/preload.ts
  electron/services/fts-health-service.test.ts
  electron/services/fts-health-service.ts
  electron/services/screenshot-processing/events.ts
  electron/services/screenshot-processing/schedulers/ocr-scheduler.test.ts
  electron/services/screenshot-processing/schedulers/ocr-scheduler.ts
  shared/index.ts
  shared/ipc-types.ts
  shared/locales/en.json
  shared/locales/zh-CN.json
  src/pages/SplashScreen.tsx
Due: prettier --write, eslint --fix --max-warnings 0

refactor(fts-health): improve FTS5 health checks with trigger validation and write-path probe
  electron/database/migrations/0014_fix_fts_trigger_delete_command.sql
  electron/database/migrations/meta/0014_snapshot.json
  electron/database/migrations/meta/_journal.json
  electron/main.ts
  electron/services/fts-health-service.test.ts
  electron/services/fts-health-service.ts
  electron/services/screenshot-processing/ocr-service.ts
  electron/services/screenshot-processing/schedulers/ocr-scheduler.ts
  electron/services/screenshot-processing/screenshot-processing-module.ts
  shared/ipc-types.ts
  src/pages/SplashScreen.tsx
Due: prettier --write, eslint --fix --max-warnings 0

test(fts-ocr): improve test coverage for FTS health and OCR services
  electron/services/fts-health-service.test.ts
  electron/services/screenshot-processing/ocr-service.test.ts
  electron/services/screenshot-processing/schedulers/ocr-scheduler.test.ts
  electron/services/screenshot-processing/screenshot-processing-module.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix: use RELEASE_PLEASE_TOKEN for release-please action
  .github/workflows/release-please.yml
Due: none

chore(master): release mnemora 0.1.0
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier --write

fix: publish-stable workflow tag mismatch with release-please
  .github/workflows/publish-stable.yml
  .release-please-config.json
  electron/services/app-update-service.ts
Due: prettier --write, eslint --fix --max-warnings 0

chore(master): release 0.2.0
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier --write

docs: update AGENTS.md with coverage requirement and db:generate guideline
  AGENTS.md
Due: none

docs: add typecheck command to AGENTS.md
  AGENTS.md
Due: none

fix: unpack .dll from asar for Windows sharp/libvips and improve installer UX
  README.md
  electron-builder.json5
  forge.config.cjs
  vite.config.ts
Due: prettier --write, eslint --fix --max-warnings 0

chore: update Windows installer artifact name to include version
  electron-builder.json5
Due: none

fix: win platform installer
  electron/main.ts
  forge.config.cjs
  public/installer-loading.gif
Due: prettier --write, eslint --fix --max-warnings 0

fix(win): add Squirrel startup events for ARM64 install and tray i18n refresh
  electron/main.ts
  electron/services/tray-service.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix(win): use app name as Windows AUMID for notification title
  electron/main.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix: resolve merge conflict in main.ts combining Squirrel events and error handlers
  .gitignore
  electron-builder.json5
  electron/main.ts
  electron/services/screenshot-processing/ocr-service.test.ts
  electron/services/screenshot-processing/ocr-service.ts
  forge.config.cjs
Due: prettier --write, eslint --fix --max-warnings 0

chore: add tesseract language data files (chi_sim, eng)
  externals/tesseract-data/chi_sim.traineddata
  externals/tesseract-data/eng.traineddata
Due: none
