Repository mbaxszy7/Mnemora: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["prettier --write", "eslint --fix --max-warnings 0"],
  "*.{css,json}": ["prettier --write"]
}

refactor: start new screenshot processing alpha pipeline
  docs/screenshot-processing-alpha-milestones.md
  electron/services/screenshot-processing/activity-monitor-service.ts
  electron/services/screenshot-processing/prompt-templates.ts
Due: prettier --write, eslint --fix --max-warnings 0

refactor: start new screenshot processing alpha pipeline
  .agent/rules/new-screenshot-processing-rule.md
  electron/database/migrations/0011_nebulous_shadowcat.sql
  electron/database/migrations/meta/0011_snapshot.json
  electron/database/migrations/meta/_journal.json
  electron/database/schema.ts
  electron/electron-env.d.ts
  electron/ipc/threads-handlers.ts
  electron/main.ts
  electron/preload.ts
  electron/services/screenshot-processing/activity-monitor-service.ts
  electron/services/screenshot-processing/context-search-service.ts
  electron/services/screenshot-processing/prompt-templates.ts
  electron/services/screenshot-processing/schemas.ts
  electron/services/screenshot-processing/thread-brief-service.ts
  electron/services/screenshot-processing/thread-llm-service.ts
  electron/services/screenshot-processing/threads-service.ts
  shared/ipc-types.ts
  shared/locales/en.json
  shared/locales/zh-CN.json
  shared/thread-lens-types.ts
  src/components/core/activity-monitor/EventCard.tsx
  src/components/core/activity-monitor/MarkdownContent.tsx
  src/components/core/activity-monitor/SummaryPanel.tsx
  src/components/core/thread-lens/ActiveThreadLens.tsx
  src/i18n/i18next.d.ts
  src/pages/Home.tsx
Due: prettier --write, eslint --fix --max-warnings 0

refactor: start new screenshot processing alpha pipeline
  electron/electron-env.d.ts
  electron/ipc/threads-handlers.ts
  electron/preload.ts
  electron/services/screenshot-processing/activity-monitor-service.ts
  electron/services/screenshot-processing/events.ts
  electron/services/screenshot-processing/prompt-templates.ts
  electron/services/screenshot-processing/schedulers/thread-scheduler.ts
  electron/services/screenshot-processing/screenshot-processing-module.ts
  electron/services/screenshot-processing/thread-brief-service.ts
  electron/services/screenshot-processing/thread-llm-service.ts
  electron/services/screenshot-processing/thread-runtime-service.ts
  shared/ipc-types.ts
  shared/locales/en.json
  shared/locales/zh-CN.json
  shared/thread-lens-types.ts
  src/components/core/thread-lens/ActiveThreadLens.tsx
  src/i18n/i18next.d.ts
  src/pages/Home.tsx
Due: prettier --write, eslint --fix --max-warnings 0

refactor: start new screenshot processing alpha pipeline
  electron/electron-env.d.ts
  electron/ipc/threads-handlers.ts
  electron/preload.ts
  electron/services/monitoring/static/dashboard.html
  electron/services/screenshot-processing/thread-runtime-service.ts
  shared/ipc-types.ts
  shared/locales/en.json
  shared/locales/zh-CN.json
  shared/thread-lens-types.ts
  src/components/core/activity-monitor/EventCard.tsx
  src/components/core/activity-monitor/SummaryPanel.tsx
  src/components/core/thread-lens/ActiveThreadLens.tsx
  src/i18n/i18next.d.ts
Due: prettier --write, eslint --fix --max-warnings 0

chore: update components and main process
  electron/main.ts
  src/components/core/TitleBar.tsx
  src/components/core/activity-monitor/MarkdownContent.tsx
  src/components/core/thread-lens/ActiveThreadLens.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: notification
  NOTIFICATION_FEATURE_PLAN.md
  electron/database/migrations/0012_lean_giant_girl.sql
  electron/database/migrations/meta/0012_snapshot.json
  electron/database/migrations/meta/_journal.json
  electron/database/schema.ts
  electron/electron-env.d.ts
  electron/ipc/notification-handlers.ts
  electron/main.ts
  electron/preload.ts
  electron/services/ai-runtime-service.ts
  electron/services/ai-runtime/event-bus.ts
  electron/services/ai-runtime/events.ts
  electron/services/notification/notification-service.ts
  electron/services/user-setting-service.ts
  shared/ipc-types.ts
  shared/locales/en.json
  shared/locales/zh-CN.json
  shared/notification-types.ts
  src/components/core/thread-lens/ActiveThreadLens.tsx
  src/hooks/use-notification.ts
  src/layouts/RootLayout.tsx
  src/pages/Settings.tsx
  src/pages/settings/Notifications.tsx
  src/pages/settings/hooks/useNotificationPreferences.ts
  src/router/index.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: deep search
  AGENTS.md
  electron/main.ts
  electron/services/i18n-service.ts
  electron/services/notification/notification-service.ts
  electron/services/screenshot-processing/context-search-service.ts
  src/hooks/use-language.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix(notification): macOS notification icon and window focus
  .gitignore
  electron/services/notification/notification-service.ts
Due: prettier --write, eslint --fix --max-warnings 0

chore(dev): add custom electron dev script and log monitor
  eslint.config.js
  package.json
  scripts/log-monitor.js
  scripts/prepare-dev-electron.sh
Due: prettier --write

chore(forge): migrate packaging to electron-forge
  .env.example
  .github/workflows/release.yml
  .gitignore
  .npmrc
  .nvmrc
  docs/forge-migration-plan.md
  electron/main.ts
  electron/services/logger.ts
  eslint.config.js
  forge.config.cjs
  package.json
  pnpm-lock.yaml
  tsconfig.node.json
Due: prettier --write, eslint --fix --max-warnings 0

chore(ci): split build and release workflows
  .github/workflows/build.yml
  electron/main.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix(ci): pin node 20 + python 3.11
  .github/workflows/build.yml
  .github/workflows/release.yml
Due: none

fix(ci): stabilize window_inspector build
  externals/python/window_inspector/build.js
  externals/python/window_inspector/build.sh
  package.json
Due: prettier --write

fix(ci): track window_inspector spec
  .gitignore
  externals/python/window_inspector/window_inspector.spec
Due: none

chore: add docs to .gitignore and update forge config for cross-platform
  .gitignore
  forge.config.cjs
Due: none

chore: remove docs from git tracking
  docs/PRODUCT_FEATURES.md
  docs/PRODUCT_NAME_EXPLOR.md
  docs/alpha-implementation-plan.md
  docs/forge-migration-plan.md
  docs/screenshot-processing-alpha-milestones.md
Due: none

chore: track docs changes again
  .gitignore
Due: none

chore: ignore docs
  .gitignore
Due: none

docs: rewrite README and add MIT license
  LICENSE
  README.md
Due: none

chore: update .gitignore with comprehensive rules
  .gitignore
Due: none

refactor: improve drizzle config with cross-platform db path
  drizzle.config.ts
Due: prettier --write, eslint --fix --max-warnings 0

chore: add MIT license field and architecture assets
  externals/assets/architecture_excalidraw.png
  externals/assets/pipeline_excalidraw_v2.png
  package.json
Due: prettier --write

docs: refine README with clearer product positioning and use cases
  README.md
Due: none

chore: improve coverage workflow and screenshot-processing tests
  .github/workflows/ci.yml
  .gitignore
  README.md
  electron/services/ai-runtime-service.ts
  electron/services/permission-service.test.ts
  electron/services/screenshot-processing/activity-monitor-service.test.ts
  electron/services/screenshot-processing/config.ts
  electron/services/screenshot-processing/context-search-service.test.ts
  electron/services/screenshot-processing/deep-search-service.test.ts
  electron/services/screenshot-processing/schedulers/base-scheduler.ts
  electron/services/screenshot-processing/schedulers/batch-vlm-scheduler.test.ts
  electron/services/screenshot-processing/screenshot-processing-module.test.ts
  electron/services/screenshot-processing/thread-repository.test.ts
  electron/services/screenshot-processing/thread-repository.ts
  electron/services/screenshot-processing/thread-runtime-service.test.ts
  electron/services/screenshot-processing/thread-runtime-service.ts
  electron/services/screenshot-processing/threads-service.test.ts
  electron/services/screenshot-processing/vlm-processor.test.ts
  electron/services/screenshot-processing/vlm-processor.ts
  electron/services/tray-service.test.ts
  package.json
  scripts/log-monitor.js
  src/components/core/activity-monitor/mock-data.ts
  vitest.config.ts
  vitest.coverage.full.config.ts
Due: prettier --write, eslint --fix --max-warnings 0

chore(ci): add PR build and release gate workflows
  .github/workflows/release-check.yml
Due: none

fix(logger): tolerate locked log cleanup during tests
  electron/services/logger.test.ts
  electron/services/logger.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix(ci): install dependencies with scripts for coverage
  .github/workflows/ci.yml
Due: none

chore(ci): optimize workflow triggers and artifact retention
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/release-check.yml
Due: none

chore(ci): remove tsc gate from ci workflow
  .github/workflows/ci.yml
Due: none

chore(ci): add stable typecheck gate for non-test code
  .github/workflows/ci.yml
  package.json
  tsconfig.typecheck.json
Due: prettier --write

chore: add codeowners for maintainer review
  .github/CODEOWNERS
Due: none

docs(readme): polish hero positioning and badge section
  README.md
Due: none

feat(onboarding): add guided onboarding for home and settings
  electron/database/migrations/0013_milky_mad_thinker.sql
  electron/database/migrations/meta/0013_snapshot.json
  electron/database/migrations/meta/_journal.json
  electron/database/schema.ts
  electron/electron-env.d.ts
  electron/ipc/user-settings-handlers.ts
  electron/preload.ts
  electron/services/user-setting-service.test.ts
  electron/services/user-setting-service.ts
  package.json
  pnpm-lock.yaml
  shared/ipc-types.ts
  shared/locales/en.json
  shared/locales/zh-CN.json
  shared/user-settings-types.ts
  src/components/core/TitleBar.tsx
  src/components/core/activity-monitor/SearchBar.tsx
  src/components/core/activity-monitor/SummaryPanel.tsx
  src/components/core/activity-monitor/Timeline.tsx
  src/features/onboarding/index.ts
  src/features/onboarding/progress.test.ts
  src/features/onboarding/progress.ts
  src/features/onboarding/selectors.ts
  src/features/onboarding/steps.test.ts
  src/features/onboarding/steps.ts
  src/index.css
  src/main.tsx
  src/pages/Home.tsx
  src/pages/Settings.tsx
  src/pages/settings/hooks/useUserSettings.ts
Due: prettier --write, eslint --fix --max-warnings 0
